

body{
    
    color: black;
    
}
 .topnav {
    background-color: grey;
    overflow: hidden;
 }
 .topnav a{
    float: left;
    color : white;
    text-align: center;
    padding :12px 14px;
    text-decoration: none;
    font-size: 17px;

 }
 .topnav a:hover{
    background-color:white;
    color:black;
 }
 .topnav a.active {
    background-color: green;
color :white;
 }

    img {
        width: 200px;
   height: 100px;
  
}

    .button
    {
        position: absolute;
        top: 300px;
        right:80px;
        display: inline-block;
        padding: 10px 20px;
        background-color: blue;
        color:white;
        text-decoration:none;
        font-size: 16px;
        border:none;
        border-radius:4px;
        cursor: pointer;
    }

    

